*{
	margin: 0;
	padding: 0;
}
.main{
	opacity: 0;
	animation: main .3s 2s linear forwards;
}
.login{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 20px;
	transform: translate(-50%,-50%);
}
.login_yuan{
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 15px;
	background-color: #C6A16E;
}
.yuan1{
	left: 0;
	animation: yuan1 1s linear 2,
		yuan11 .3s 2s linear forwards;

}
.yuan2{
	right: 0;
	animation: yuan2 1s linear 2,
		yuan22 .3s 2s linear forwards;
}
@keyframes yuan1{
	0%{
		left: 0;
		background-color: #C6A16E;
	}
	50%{
		left: 30px;
		background-color: #aec613;
	}
	100%{
		left: 0;
		background-color: #C6A16E;
	}
}
@keyframes yuan2{
	0%{
		right: 0;
		background-color: #C6A16E;
	}
	50%{
		right: 30px;
		background-color: #aec613;
	}
	
	100%{
		right: 0;
		background-color: #C6A16E;
	}
	
}
@keyframes yuan11{
	0%{
		left: 0;
		transform: scale(1);
		opacity: 1;
	}
	100%{
		left: 15px;
		transform: scale(35);
		opacity: 0;
	}
}
@keyframes yuan22{
	0%{
		right: 0;
		transform: scale(1);
		opacity: 1;
	}
	100%{
		right: 15px;
		transform: scale(35);
		opacity: 0;
	}
}
@keyframes main{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}