*{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}
body{
	font-size: 16px;
	background-color: #42454e;
}
.main{
	width: 100%;
	padding: .75rem .5rem;
}
.main .logo{
	width: 1.5rem;
	margin: 0 auto;
}
.main .logo img{
	width: 1.5rem;
}
.input_w .input{
	width: 100%;
	height: .525rem;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	border-bottom: .02rem solid #ac9b83;
}
.input_w .input input{
	width: 60%;
	height: .325rem;
	background-color: transparent;
	color: #FFFFFF;
	font-size: .14rem;
}
.input_w .input input::placeholder{
	color: #FFFFFF;
	font-size: .14rem;
}
.input_w .input img{
	width: .20rem;
	margin: .06rem;
}
.input_w .forget{
	width: 100%;
	margin: .05rem 0;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.input_w .forget_pwd{
	color: #FFFFFF;
	text-decoration: none;
	font-size: .12rem;
}
.btn_w .btn{
	width: 100%;
	height: .525rem;
	margin: .05rem 0;
	border-radius: .05rem;
	background-image: url(../images/button-bg.png);
	background-position: center;
	background-size: cover;
}
.btn_w .btn button{
	width: 100%;
	height: 100%;
	color: #886b6a;
	background-color: transparent;
	border-radius: .05rem;
	font-size: .16rem;
	line-height: .525rem;
}
.btn_w .help_w{
	width: 100%;
	margin-bottom: 1rem;
	text-align: center;
}
.btn_w .help_w .help{
	color: #FFFFFF;
	text-decoration: none;
	font-size: .12rem;
}
.link_w .link_t{
	display: flex;
	justify-content: space-between;
	color: #FFFFFF;
	text-align: center;
}
.link_w .link_t::after{
	content: "";
	display: block;
	width: .8rem;
	height: .02rem;
	margin: .1rem 0;
	background-color: #7c7e81;
}
.link_w .link_t::before{
	content: "";
	display: block;
	width: .8rem;
	height: .02rem;
	margin: .1rem 0;
	background-color: #7c7e81;
}
.link_w .link_b{
	display: flex;
	justify-content: space-between;
}
.link_w .link_b .link{
	margin: .2rem 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}
.link_w .link_b .link img{
	width: .25rem;
	margin: 0 .1rem;
}
.link_w .link_b .link span{
	color: #FFFFFF;
	font-size: .14rem;
}