*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	transition:.3s;
}
@media all and (max-width: 600px) {
	.main{
		background-color: #44cef6 !important;
	}
	h1{
		display: none;
	}
	.nav{
		right: -100px;
		width: 100px;
		height: 100vh;
		background-color: #177cb0;
	}
	.tab_ul{
		width: 100px !important;
		height: 200px;
		position: relative;
		top: 50%;
		transform: translate(0,-50%);
		display: flex;
		flex-direction: column;
	}
	.main .nav .btns{
		transform: translate(-50%,50%);
	}
	.main .nav .btns div{
		opacity: 1 !important;
	}
}
.main{
	overflow-x: hidden;
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: #70f3ff;
}
h1{
	width: 371px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 58px;
	color: #FFFFFF;
}
.nav{
	position: absolute;
	right: 0px;
}
.tab_ul{
	width: 400px;
	display: flex;
}
.tab_ul .tab{
	cursor: pointer;
	width: 100px;
	position: relative;
	z-index: 2;
	text-align: center;
	line-height: 50px;
	color: #FFFFFF;
}
.tab_ul .bgc{
	width: 100px;
	height: 50px;
	position: absolute;
	z-index: 1;
	left: -100px;
	border-radius: 5px;
	background-color: #FFFFFF;
	opacity: 0;
}
.main .nav .btns{
	position: absolute;
	left: -25px;
	z-index: 999;
}
.main .nav .btns div{
	width: 25px;
	height: 2px;
	margin: 5px 0;
	background-color: #FFFFFF;
	opacity: 0;
}
.main .nav .btns:hover{
	
}

.main .nav .btns .btn1{
	top: 7px;
	transform: rotateZ(45deg) translate(5px,5px);
}
.main .nav .btns .btn2{
	top: 0px;
	transform: rotateZ(45deg) translate(0px,0px);
}
.main .nav .btns .btn3{
	top: -6px;
	transform: rotateZ(-45deg) translate(5px,-5px);
}