@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1638344490930') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\f0179";
}

.icon-sousuo:before {
  content: "\e61e";
}

